.frens-mainblock-img {
    display: block;
    width: 32px;
    max-width: 110px;
    height: auto;
}

.frens-coins-earned {
    font-weight: bold;
}

.frens-block-title {
    font-weight: bold;
    margin-bottom: 4px;
}