.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: background-color 0.25s ease;
    overflow: hidden;
    font-size: 12px;
}

.modal-container {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center bottom, rgb(118, 58, 215), rgb(23, 23, 23) 50%);
    transition: bottom 0.25s ease;
    padding: 20px;
    border-radius: 0px 0px 0px 0px;
    box-sizing: border-box;
    overflow-y: auto;
}

.modal-button-arrow {
    width: 32px;
    height: 32px;
    margin-left: auto;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.modal-button-arrow:active {
    transform: scale(0.75);
}

.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
}

.modal-img {
    display: block;
    width: 50%;
    max-width: 110px;
    height: auto;
    margin: 0 auto;
    margin-top: 16px;
}

.modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 8px;
}

.modal-subtitle {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 480px;
    margin: 0 auto;
}

.modal-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    min-height: 64px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(61, 37, 105) 0%, rgba(255, 0, 230, 0.06) 100%);
    padding: 16px;
    
}

.modal-block-title {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

.modal-subblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    cursor: pointer;
}

.modal-button-long {
    width: 100%;
    min-height: 48px;
    padding: 12px 0;
    background-color: orange;
    color: white;
    font-weight: normal;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Team modal */

.team-list {
    overflow-y: auto;
    max-height: 360px;
}

.team-item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    border-radius: 8px;
}

.team-logo {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 10%;
    object-fit: cover;
}

.team-details {
    flex: 1;
}

.team-name {
    font-weight: bold;
    margin-bottom: 4px;
}

.team-league {
    color: lightgray;
}

.team-button-orange {
    background: rgba(255, 149, 51, 1);
    box-shadow: 0px 0px 16px rgba(255, 149, 51, 1);
    margin-bottom: 8px;
    margin-top: 8px;
}

.team-button-purple {
    background: linear-gradient(90deg, #FB4FFF 0%, #25B1FF 100%);
    box-shadow: 0px 0px 16px rgb(48, 165, 255);
    margin-bottom: 8px;
    margin-top: 8px;
}