* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-touch-callout: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background: rgb(29, 29, 29);
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #eee;
    font-family: Arial, sans-serif;
}

.background-glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center bottom, rgba(225, 0, 255, 0.8) 0%, rgba(227, 13, 255, 0) 50%);
    pointer-events: none;
    z-index: -1;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.coin-icon {
    background-image: url('images/coin.png');
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -0.1em;
    width: 1em;
    height: auto;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 480px;
    margin: auto;
    padding: 20px;
}

.header, .main-content, .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    align-items: center;
    z-index: 0;
}

.main-content {
    flex-grow: 1;
}

.player-info {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 194, 255, 0.67) 0%, rgba(255, 0, 230, 0.38) 100%);
    border-radius: 10px;
    padding: 12px;
}

.player-photo {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-text {
    flex: 1;
}

.player-name {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 8px;
}

.player-coins {
    font-size: 12px;
    font-weight: bold;
}

.player-league {
    text-align: right;
    margin-left: 8px;
    font-size: 12px;
    right: 0px;
}

.play-zone {
    position: relative;
    width: 100%;
    max-width: 360px;
    aspect-ratio : 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pet {
    display: none;
    position: absolute;
    aspect-ratio : 1 / 1;
    width: 20%;
    max-width: 92px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    animation: scaleUp 0.25s ease-in-out forwards;
}

.pet img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.special {
    display: none;
    position: absolute;
    aspect-ratio : 1 / 1;
    width: 20%;
    max-width: 92px;
    left: 50%;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    animation: scaleUp 0.25s ease-in-out forwards;
}

.special img {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: shake 0.25s infinite alternate;
}

@keyframes shake {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes scaleUp {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    90% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes scaleDown {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.income {
    position: absolute;
    font-size: 28px;
    z-index: 1;
    font-weight: bold;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.5s, top 0.75s;
    pointer-events: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    transform: translate(-50%, -50%) 
}


.gameplay-coin {
    width: 60%;
    height: auto;
    z-index: 0;
}

.gameplay-coin img {
    width: 100%;
    height: auto;
    transition: 0.12s ease-in-out;
    perspective: 1000px;
}

.coin-count {
    font-size: 28px;
    font-weight: 700;
}

.stats {
    display: flex;
    padding-top: 10%;
    align-items: center;
}

.stats-coin {
    width: 32px;
    height: auto;
    margin-right: 8px;
}

.energy-wrapper {
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 10%;
}

.energy-icon {
    width: 16px;
    height: 16px;
}

.energy-counter {
    margin-right: 4px;
    font-weight: 700;
    font-size: 14px;
}

.energy-bar {
    width: 100%;
    height: 10px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.energy {
    height: 100%;
    background: linear-gradient(90deg, #5B6CC5 25.5%, #CDE5F2 100%);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: width 0.1s ease;
}

.menu {
    width: 100%;
    min-width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(0, 194, 255, 0.29) 0%, rgba(255, 0, 230, 0.06) 100%);
    border-radius: 10px;
    padding: 12px;
}

.menu-button {
    border: none;
    padding: 0;
    width: 25%;
    height: auto;
    max-width: 60px;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    font-weight: bold;
}

.menu-button img {
    width: 22px;
    height: 22px;
    margin-bottom: 6px;
}

.button-text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
    font-weight: 700;
}

.divider {
    height: 66%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 6px;
}

.button-long {
    width: 100%;
    min-height: 48px;
    padding: 12px 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: orange;
    color: white;
    font-weight: normal;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-orange {
    background: rgba(255, 149, 51, 1);
    box-shadow: 0px 0px 16px rgba(255, 149, 51, 1);
}

.button-purple {
    background: linear-gradient(90deg, #FB4FFF 0%, #25B1FF 100%);
    box-shadow: 0px 0px 16px rgb(48, 165, 255);
}